.products-cards--container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    gap: 10px;
    
}
.products-cards--container .product-detail--card{
    margin-bottom: 0px;
}

.main-tables-slider{
    justify-content: center;
}
.plans-container--slider{
    justify-content: center;
}